<div>
    <div class="row header">
        <div class="col-lg-3 pull-left">SELECT USERS</div>
        <div class="col-lg-6 col-lg-offset-3 text-right">
            <span class="close-list rounded-circle"></span>
        </div>
    </div>
    <div class="row">
        <div class="input-group col-md-12 search-box">
            <input type="text" class="form-control input-md" placeholder="Search ..." ng-model="usersCtrl.searchText" />
            <span class="input-group-btn">
                <button class="btn btn-info btn-md" type="button">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
    <div class="row user-list">
        <div ng-repeat="user in sortedUsers = ( usersCtrl.users | filter:usersCtrl.userSearch) track by user.id" class="{{usersCtrl.classOuter}}">
            <div class="row user"
                 ng-click="usersCtrl.userClicked(user)"
                 ng-class="{'selected': user.selected}">

                <div class="{{usersCtrl.classInnerAvatar}}">
                    <img ng-src="{{user.avatar}}" alt="{{user.full_name}}" title="{{user.full_name}}" class="img-circle img-responsive">
                </div>

                <div class="{{usersCtrl.classInnerTitle}}">
                    {{user.full_name}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 selected-users">
            {{usersCtrl.totalUsersSelected}} users selected
        </div>
        <div class="col-lg-3 col-lg-offset-3 action-buttons">
            <button class="btn btn-default btn-selected" ng-disabled="usersCtrl.totalUsersSelected === 0">
                <a ui-sref="selectedusers">Select</a>
            </button>
            <button class="btn btn-default">Cancel</button>
        </div>
    </div>
</div>
